@using Custom.BL.Enums
@model CustomViewModel

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">

        <div class="row">
            <label asp-for="CarType" class="col-lg-2"></label>
            <select asp-for="CarType" class="col-lg-2" asp-items="Html.GetEnumSelectList<CarType>()">
                <option selected="selected" value="">Select Car Type</option>
            </select>
        </div>

        <div class="row">
            <label asp-for="FuelType" class="col-lg-2"></label>
            <select asp-for="FuelType" class="col-lg-2" asp-items="Html.GetEnumSelectList<FuelType>()">
                <option selected="selected" value="">Select Fuel Type</option>
            </select>
        </div>

        <div class="row">
            <label asp-for="EngineVolume" class="col-lg-2"></label>
            <input type="number" asp-for="EngineVolume" class="col-lg-2"/>
        </div>

        <div class="row">
            <label asp-for="Price" class="col-lg-2"></label>
            <input type="number" asp-for="Price" class="col-lg-2"/>
        </div>

        <div class="row">
            <label asp-for="Year" class="col-lg-2"></label>
            <input type="datetime-local" asp-format="{0:yyyy-MM-dd}" asp-for="Year" class="col-lg-2"/>
        </div>

        <div class="row">
            <label asp-for="FuelWeight" class="col-lg-2"></label>
            <input type="number" asp-for="FuelWeight" class="col-lg-2"/>
        </div>

        <div class="row">
            <label asp-for="Result" class="col-lg-2"></label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="Result"/>
        </div>

        <div class="row">
            <input type="submit" value="Submit" asp-action="Index"/>
        </div>

    </div>
</form>